In [5]:
# Performing some cleaning of the data, so the database can be ready to be explored
from src.preparation import Wrangling
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv('../data/initial_data_real_estate.csv')

In [7]:
df

,Unnamed: 0,Gross Area,Interior Area,Bedrooms,Baths,Floor,Type,Status,Price,City
0,0,96.78 m2,96.78 m2,2.0,2.0,5.0,Parking,New,"150,000",Tirana
1,1,86 m2,68 m2,2.0,2.0,5.0,Apartment,Under Construction,"26,000",Tirana
2,2,197 m2,157 m2,2.0,2.0,5.0,Apartment,Under Construction,"170,000",Tirana
3,3,178 m2,141 m2,2.0,2.0,5.0,Apartment,Under Construction,"57,000",Tirana
4,4,182 m2,145 m2,1.0,1.0,1.0,Apartment,Under Construction,"50,000",Tirana
...,...,...,...,...,...,...,...,...,...,...
6352,6352,1104 m2,1104 m2,NaN,NaN,NaN,Land,Used,NaN,Tirana
6353,6353,91 m2,38 m2,NaN,NaN,NaN,Apartment,Under Construction,NaN,Himarë
6354,6354,180 m2,84 m2,NaN,NaN,NaN,Apartment,Under Construction,NaN,Himarë
6355,6355,85 m2,66 m2,NaN,NaN,NaN,Multipurpose space,Used,NaN,Tirana
6356,6356,76 m2,58 m2,NaN,NaN,NaN,Multipurpose space,Used,NaN,Tirana

In [8]:
df = Wrangling.drop_unnamed_col(df, 'Unnamed: 0')
df_non_null = Wrangling.obtain_non_null_rows(df,'Price')
Wrangling.format_columns(df_non_null, 'Gross Area')
Wrangling.format_columns(df_non_null, 'Interior Area')
Wrangling.format_columns(df_non_null, 'Price')

In [9]:
df_non_null

,Gross Area,Interior Area,Bedrooms,Baths,Floor,Type,Status,Price,City
0,96.78,96.78,2.0,2.0,5.0,Parking,New,150000.0,Tirana
1,86.00,68.00,2.0,2.0,5.0,Apartment,Under Construction,26000.0,Tirana
2,197.00,157.00,2.0,2.0,5.0,Apartment,Under Construction,170000.0,Tirana
3,178.00,141.00,2.0,2.0,5.0,Apartment,Under Construction,57000.0,Tirana
4,182.00,145.00,1.0,1.0,1.0,Apartment,Under Construction,50000.0,Tirana
...,...,...,...,...,...,...,...,...,...
2643,178.00,141.00,1.0,2.0,5.0,Apartment,Under Construction,150000.0,Tirana
2644,182.00,145.00,1.0,1.0,1.0,Apartment,Under Construction,26000.0,Tirana
2645,168.00,72.00,2.0,1.0,2.0,Apartment,Under Construction,170000.0,Himarë
2646,39.00,30.00,2.0,1.0,1.0,Multipurpose space,Used,57000.0,Tirana
2647,1104.00,1104.00,2.0,1.0,1.0,Land,Used,50000.0,Tirana

In [11]:
df_non_null.to_csv('../data/data_real_estate_cleaned.csv', index=False)